@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

:root {
  --main-color: #02cfd5;
  --main-black: #000000;
  --main-white: #dfdfdf;
}

@font-face {
  font-family: "Dead Stock";
  src: url("/fuentes/Dead\ Stock\ -\ Demo.ttf");
}

/*CLASES GENERALES*/

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  font-family: "Poppins", sans-serif;
}

body {
  background: var(--main-white);
}

img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.texto-especial {
  font-family: "Dead Stock";
}

.main-section {
  padding-inline: 12px;
  margin-top: 80px;
  max-width: 1440px;
  margin-inline: auto;
}
@media (min-width: 768px) {
  .main-section {
    padding-inline: 24px;
  }
}
@media (min-width: 1024px) {
  .main-section {
    padding-inline: 36px;
  }
}
/*BOTONES PRINCIPALES*/

button {
  border: 2px solid var(--main-color);
  border-radius: 4px;
  padding-block: 6px;
  padding-inline: 24px;
  width: fit-content;
  span {
    color: var(--main-black);
    font-weight: 600;
    text-transform: uppercase;
  }
}

.btn-principal {
  background: var(--main-color);
}

.btn-secondary {
  background: transparent;
}

/*NAVEGACION PRINCIPAL*/

.header-principal {
  width: 100%;
  padding-block: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 12px;
  max-width: 1440px;
  margin-inline: auto;
  position: relative;
}

.logo {
  width: 48px;
  height: 48px;
}

.nav-desktop {
  display: none;
}

.btn-nav-mobile {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 30px;
  span {
    width: 30px;
    height: 3px;
    background-color: var(--main-black);
  }
}

.modal-nav-mobile {
  position: fixed;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  top: 0;
  left: 0;
  background-color: var(--main-black);
  width: 100%;
  height: 100vh;
  min-height: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 48px;
}

.modal-nav-mobile header {
  width: 100%;
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: end;
}

.modal-nav-mobile .btn-cerrar-modal {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.modal-nav-mobile .btn-cerrar-modal span:nth-child(1) {
  width: 100%;
  height: 2px;
  background: var(--main-white);
  position: absolute;
  transform: rotate(-45deg);
}

.modal-nav-mobile .btn-cerrar-modal span:nth-child(2) {
  width: 100%;
  height: 2px;
  background: var(--main-white);
  position: absolute;
  transform: rotate(45deg);
}

.modal-nav-mobile .logo-nav-mobile {
  width: 92px;
  height: 92px;
}

.modal-nav-mobile .nav-mobile {
  color: var(--main-white);
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 24px;
  li {
    font-size: 24px;
    text-transform: uppercase;
    color: var(--main-white);
    font-weight: 600;
  }
}

.modal-nav-mobile .copy-nav-mobile {
  color: var(--main-white);
  margin-top: auto;
  padding-bottom: 4px;
  font-size: 12px;
  text-transform: uppercase;
  opacity: 0.5;
}

@media (min-width: 768px) {
  .header-principal {
    padding-inline: 24px;
    gap: 40px;
  }
  .logo {
    height: 82px;
    width: 82px;
  }
  .nav-desktop {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;
    ul {
      width: 100%;
      display: flex;
      list-style-type: none;
      gap: 48px;
    }
    li {
      text-transform: capitalize;
      font-weight: 500;
    }
  }
  .btn-nav-mobile {
    display: none;
  }
  .modal-nav-mobile {
    display: none;
  }
}

@media (min-width: 1024px) {
  .header-principal {
    padding-inline: 36px;
  }
  .logo {
    width: 94px;
    height: 94px;
  }
}

/*SECTION HERO*/

.hero {
  width: 100%;
  height: 600px;
  display: flex;
  flex-direction: column;
  margin-top: 0px;
  padding-top: 40px;
}

.main-content-hero {
  gap: 12px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  z-index: 2;
}
.img-hero-mobile {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  opacity: 0.3;
  filter: grayscale(1);
  height: 672px;
  pointer-events: none;
}

.img-hero-desktop {
  display: none;
}

.logo-hero {
  width: 112px;
  height: 112px;
}

.hero h1 {
  font-size: 64px;
  line-height: 1;
  text-align: center;
  letter-spacing: -2px;
  text-transform: uppercase;
  font-weight: 800;
}
.hero p {
  text-align: center;
  font-weight: 600;
}

.deco-hero {
  display: none;
}

@media (min-width: 768px) {
  .hero {
    position: relative;
    justify-content: end;
    height: 500px;
  }
  .img-hero-mobile {
    display: none;
  }
  .img-hero-desktop {
    display: block;
    position: absolute;
    right: 52px;
    top: 0px;
    width: 80%;
    height: 500px;
  }
  .logo-hero {
    display: none;
  }
  .main-content-hero {
    align-items: start;
    position: relative;
    z-index: 2;
    padding-bottom: 40px;
  }
  .hero h1 {
    font-size: 92px;
    max-width: 300px;
    text-align: left;
  }
  .deco-hero {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
    position: absolute;
    right: 24px;
    span {
      writing-mode: vertical-lr;
      font-weight: 700;
      text-transform: uppercase;
      font-size: 14px;
      letter-spacing: 2px;
    }
  }
}

@media (min-width: 1024px) {
  .hero {
    height: 600px;
    justify-content: center;
  }
  .img-hero-desktop {
    height: 600px;
  }
  .main-content-hero {
    padding-block: 0px;
  }
  .btn-principal span {
    font-size: 14px;
  }
}

/*SECTION SWIPER / TABLAS*/

.swiper-slide {
  width: 100%;
  display: grid;
  gap: 12px;
}

.swiper-slide header {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.nombre-tabla {
  text-transform: uppercase;
  font-size: 72px;
  transform: scale(1.1, 1.5);
}

.nombre-tabla::first-letter {
  font-size: 120px;
}

.sub-tabla {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 32px;
  font-style: italic;
  margin-left: 20px;
  position: relative;
  top: -40px;
}

.img-slide {
  height: 550px;
  max-width: 300px;
  margin-inline: auto;
  filter: drop-shadow(5px 5px 20px #00000093);
}

.about-slide {
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-width: 400px;
  margin-inline: auto;
}

.about-slide > span {
  color: var(--main-color);
  text-transform: uppercase;
  font-weight: 700;
}

.about-slide p {
  font-size: 14px;
  line-height: 2;
}

.tabla-desktop {
  display: none;
}

.listado-tablas {
  display: none;
}

@media (min-width: 768px) {
  .swiper {
    display: none;
  }
  .tabla-desktop {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 200px 1fr 200px;
    gap: 0;
    grid-column-start: 2;
    grid-row-start: 1;
  }
  .tabla-desktop header {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    left: -180px;
  }
  .nombre-tabla {
    font-size: 92px;
  }
  .nombre-tabla::first-letter {
    font-size: 142px;
  }
  .sub-tabla {
    margin-left: 70px;
  }
  .img-slide {
    grid-column-start: 1;
    grid-row: 1 / span 3;
  }

  .about-slide {
    gap: 16px;
  }
  .about-slide span {
    font-size: 18px;
  }
  .about-slide p {
    font-size: 16px;
  }
  .btn-secondary span {
    font-size: 16px;
  }

  .listado-tablas {
    list-style-type: none;
    flex-wrap: wrap;
    width: 100%;
    display: flex;
  }
  .listado-tablas li {
    min-width: 20%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 42px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: "Dead Stock", sans-serif;
    flex: 1;
    opacity: 0.5;
  }
}

@media (min-width: 1024px) {
  .tablas {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
  .listado-tablas {
    grid-column-start: 1;
  }
  .listado-tablas li {
    min-width: 50%;
  }
}

@media (min-width: 1280px) {
  .tablas {
    grid-template-columns: 1fr 1.5fr;
  }
  .listado-tablas li {
    font-size: 64px;
  }
  .tabla-desktop header {
    left: -220px;
  }
}

/*SECTION TRABAJO*/

.trabajos {
  display: flex;
  flex-direction: column;
  position: relative;
}

.img-trabajos {
  display: none;
}

.deco-trabajos {
  display: none;
}

.trabajos-main-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  max-width: 300px;
  margin-inline: auto;
}

.trabajos-main-content > span {
  text-transform: uppercase;
  color: var(--main-color);
  font-weight: 700;
  max-width: 250px;
  text-align: center;
}

.logo-trabajos {
  width: 92px;
  height: 92px;
}
.trabajos-main-content > p {
  text-align: center;
  font-size: 14px;
  line-height: 2;
}

.trabajos-main-content > .btn-secondary {
  margin-inline: auto;
}

@media (min-width: 768px) {
  .trabajos {
    height: 500px;
    position: relative;
  }
  .trabajos::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: #fff;
    z-index: -1;
  }
  .img-trabajos {
    display: block;
    position: absolute;
    top: 0px;
    left: 60px;
    width: 70%;
    height: 500px;
  }

  .trabajos-main-content {
    padding-top: 20px;
    position: relative;
    z-index: 2;
    background: #fff;
    align-self: end;
    margin-inline: 0;
    top: 20px;
    height: calc(100% - 40px);
    box-shadow: 1px 1px 20px #00000065;
    border-radius: 4px;
    padding-inline: 8px;
    max-width: 350px;
  }
  .trabajos-main-content > span {
    font-size: 18px;
  }
  .trabajos-main-content > p {
    font-size: 16px;
  }
  .deco-trabajos {
    display: flex;
    position: absolute;
    left: 30px;
    top: 0;
    width: 20px;
    height: 500px;
    writing-mode: vertical-lr;
    justify-content: center;
    align-items: center;
    transform: rotate(180deg);
    text-transform: uppercase;
    font-weight: 700;
  }
}

@media (min-width: 1024px) {
  .trabajos,
  .img-trabajos,
  .deco-trabajos {
    height: 550px;
  }
  .trabajos-main-content {
    right: 80px;
  }
}

@media (min-width: 1240px) {
  .logo-trabajos {
    height: 120px;
    width: 120px;
  }
  .trabajos,
  .img-trabajos,
  .deco-trabajos {
    height: 600px;
  }
  .trabajos-main-content {
    right: 120px;
  }
}

/*SECTION ABOUT*/

.about {
  display: flex;
  flex-direction: column;
  margin-top: 0px;
  padding-top: 80px;
}

.main-info-about {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  max-width: 400px;
  margin-inline: auto;
}

.main-info-about > h2 {
  font-size: 42px;
  line-height: 1;
  text-transform: uppercase;
  text-align: center;
  font-weight: 800;
  max-width: 300px;
}

.main-info-about > p {
  font-size: 14px;
  line-height: 2;
  text-align: center;
}

.main-info-about > .btn-secondary {
  margin-inline: auto;
  margin-top: 12px;
}

.img-about,
.deco-about {
  display: none;
}

@media (min-width: 768px) {
  .about {
    flex-direction: row;
    gap: 12px;
    background: #fff;
  }
  .main-info-about {
    max-width: 350px;
    align-items: start;
  }
  .main-info-about > h2,
  .main-info-about > p {
    text-align: left;
  }
  .main-info-about {
    margin-inline: 0px;
  }
  .main-info-about > .btn-secondary {
    margin-inline: 0px;
  }
  .img-about,
  .deco-about {
    display: flex;
  }
  .img-about {
    margin-left: auto;
    height: 300px;
  }
  .deco-about {
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 300px;
    writing-mode: vertical-lr;
    font-weight: 700;
    text-transform: uppercase;
  }
}

@media (min-width: 1024px) {
  .main-info-about {
    max-width: 500px;
  }
  .main-info-about > h2 {
    font-size: 56px;
    max-width: 350px;
  }
  .main-info-about > p {
    font-size: 16px;
  }
  .deco-about,
  .img-about {
    height: 350px;
  }
}

@media (min-width: 1240px) {
  .main-info-about {
    max-width: 600px;
  }
  .deco-about,
  .img-about {
    height: 400px;
  }
}

/*SECTION DECORACION FINAL*/

.img-deco-final {
  width: 100%;
  padding-top: 80px;
  max-height: 280px;
  overflow: hidden;
  max-width: 1440px;
  margin-inline: auto;
  position: relative;
  z-index: 2;
}
.img-deco-final img {
  object-fit: contain !important;
  filter: grayscale(1);
  opacity: 0.3;
}
@media (min-width: 768px) {
  .img-deco-final {
    background-color: #fff;
  }
}

/*SECTION FOOTER*/

.main-footer {
  background: var(--main-black);
  color: var(--main-white);
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 0px;
  padding-top: 80px;
}

.logo-footer {
  filter: invert(1);
  height: 92px;
  width: 92px;
}

.info-footer,
.contacto-footer,
.navegacion-footer,
.redes-footer {
  display: flex;
  flex-direction: column;
  gap: 12px;
  list-style-type: none;
}

.info-footer {
  gap: 24px;
}

.info-footer .titulo {
  color: var(--main-color);
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px;
}
.contacto-footer > li,
.navegacion-footer > li {
  font-size: 14px;
}

.redes-footer > li,
.navegacion-footer > li {
  text-transform: capitalize;
  font-size: 14px;
}

.copy-footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  text-transform: uppercase;
  padding-block: 4px;
}

@media (min-width: 640px) {
  .info-footer {
    flex-direction: row;
  }
  .info-footer > ul {
    flex: 1;
  }
}

@media (min-width: 768px) {
  .main-footer {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .logo-footer {
    width: 120px;
    height: 120px;
  }
  .info-footer {
    width: 80%;
    margin-left: auto;
  }
}

@media (min-width: 1024px) {
  .logo-footer {
    width: 140px;
    height: 140px;
  }
}

/*DECOS FULL PAGE*/
.deco-top-page {
  width: 100%;
  max-width: 1440px;
  margin-inline: auto;
  height: 400px;
  background: #fff;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

@media (min-width: 768px) {
  .deco-top-page {
    opacity: 1;
    visibility: visible;
  }
}

.modal-open {
  visibility: visible;
  opacity: 1;
  pointer-events: all;
  z-index: 10;
}
